body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 500px;
  margin-bottom: 200px;
  Width:500px;
  Height: 0px;

Left:-34815px;
  background-image: url(Desktop\ -\ 38backround.png);
 background-repeat: no-repeat;
  background-repeat: cover;
  background-size: cover;
}
.con2{
  color: white;
  font-size: 20px;
  font-style: oblique;
  text-align: left;
  margin: -65px 20px 20px 10px;
  padding:-140px 20px 40px 20px;
  justify-content: center;
  font-style: normal;
}
.con3{
  color: white;
  font-size: 20px;
  font-style: oblique;
  text-align: left;
  margin: -110px 10px 10px 10px;
  padding:-110px 40px 40px 60px;
  justify-content: center;
  font-style: normal;
}
img {
  -webkit-filter: blur(15px); /* Safari 6.0 - 9.0 */
  filter: blur(50px);
}
.ed{
  font-style:bold;
  text-align: center;
  
  
  width: 162px;
  
  background-position: 120px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding: 10px 20px 30px 40px;
 
 
  margin: -519px 95px 80px 790px;

  border-width: -10px;
  
  border-style:border-box;
  border-radius:20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  filter: drop-shadow(6px 8px 4px rgba(0, 0, 0, 0.25));

}
.date{
  margin: -53px 17px 2px 150px;
  padding:0.5px 50px 10px 90px;
  font-family: 'Nunito Sans';
  font-style: normal;  
  font-size: 19x;
  color: antiquewhite;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));


}


.edit{
  height: 25px;
  width:25px;
  position: absolute;
  padding: 14px 0 0 25px;
}
.cont{
  margin:-20px 10px 2px -200px;
  padding:2px 10px 10px 22px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-size: 19px;
  color: antiquewhite;

}
.inte{
  margin:-55px 17px 2px 150px;
  padding:10px 10px 10px 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
  color: antiquewhite;

}

button{
  
  width: 407px;
  height: 48px;
  left: 293px;
  top: 600px;
  border:0 ;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 9px;
  text-align: center;
  padding-top: 10px;
  margin-left: 300px;
  margin-top: 130px;
  background: #206E90;
  color: white;
  filter: drop-shadow(6px 8px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  border-radius: 20px;
}
.g1 {
  display: flex;
  flex-direction: row;
  width:1000px;
  height: 490px;
  background: rgb(196, 190, 190);
  padding: 20px 15px 2px 43px;
  margin: -300px 10px 7px -230px;
  text-align:top;
  top: 20px;
  color: white;
  font: size 12px;
  text-align:left;
  box-sizing: border-box;
  border-radius: 26px;
  /*box-shadow: 10px 7px 1px 0px;*/
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 16.34%, rgba(255, 255, 255, 0) 116.34%);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  
}
.cont1{
color: white;
font-size: 20px;
font-style: oblique;
text-align: left;
margin: -220px 10px 10px -40px;
padding:-110px 40px 40px 60px;
justify-content: center;
font-style: normal;
}

.cont2{
  color: white;
  font-size: 20px;
  font-style: oblique;
  text-align: left;
  margin: -110px 30px 20px -40px;
  padding:-100px 20px 40px 20px;
  justify-content: center;
  font-style: normal;
}
.g2{
  
  padding: 10px 0px 0px 35px;
  margin: -520px 5px 1px -220px;
  text-align:left;
  color: white;
  font-size:15px;

}
code {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

